
body{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

h1{
    font-size: 3em;
    font-weight: 200;
    display: inline-block;
}

.mainContentContainer{
    margin: 0px auto;
    width: 80%;
}

.linkList{
    float: right;
    line-height: 5em;
}

.linkList li{
    font-size: 2em;
    display: inline;
    list-style-type: none;
}

.floatClear{
    clear: both;
}

#divHeadingBackground{
    margin: 0;
    width: 100%;
    background-color: #6B735A;
}

#divHeading{
    margin: 0px auto;
    width: 80%;
}

#divHeadingNamebox{
    display: inline-block;
    background-color: #A6978F;
    width: 20%;
    text-align: center;
}

/* Color Theme Swatches in Hex */
.Architecture-1-hex { color: #6B735A; }
.Architecture-2-hex { color: #A6978F; }
.Architecture-3-hex { color: #734432; }
.Architecture-4-hex { color: #26201D; }
.Architecture-5-hex { color: #BF584E; }
