
body{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

h1{
    font-size: 3em;
    font-weight: 200;
    display: inline-block;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

p{
    font-size: 2.25em;
}

.mainContentContainer{
    margin: 0px auto;
    width: 80%;
}

.linkList{
    float: right;
    line-height: 5em;
}

.linkList li{
    font-size: 2em;
    display: inline;
    list-style-type: none;
}

.floatClear{
    clear: both;
}

.footerBackground{
    background-color: #6B735A;
    height: 15px;
    margin-top: 100px;
}

#divHeadingBackground{
    margin: 0;
    width: 100%;
    background-color: #6B735A;
    margin-bottom: 40px;
}

#divHeading{
    margin: 0px auto;
    width: 80%;
}

#divHeadingNamebox{
    display: inline-block;
    background-color: #A6978F;
    width: 20%;
    text-align: center;
}

#imgMainProfile{
    height: 165px;
    width: 165px;
    margin-right: 20px;
    float: left;
}



/* Color Theme Swatches in Hex */
.Architecture-1-hex { color: #6B735A; }
.Architecture-2-hex { color: #A6978F; }
.Architecture-3-hex { color: #734432; }
.Architecture-4-hex { color: #26201D; }
.Architecture-5-hex { color: #BF584E; }
